//  Color Variables
$rich-black: hsl(222, 43%, 9%);

$gun-metal: hsl(60, 2%, 24%);

$denim: hsl(219, 19%, 37%);

$white-wash: hsl(210, 5%, 93%);

$french-blue: hsl(206, 8%, 66%);

$cashmere: hsl(24, 9%, 78%);

$platinum: hsl(75, 6%, 87%);


