// Main .scss file
@import "./resets";
@import "./variables";
@import "./typography";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gun-metal;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 60%;
    height: 80vh;
    position: absolute;

    border: 1px solid #fff;

    .nav-home {
        position: relative;
        top: -190px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            list-style-type: none;
            margin-left: 0;
        }

        & a {                
            color: $white-wash;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 5px;
            transition: color 0.3s ease;
        }

        .nav-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .menu-item {
                list-style-type: none;
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: $white-wash;
                    text-decoration: none;
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 5px;
                    transition: color 0.3s ease;
                }
            }
        }
    }
}

