// Main .scss file
@import "./resets";
@import "./variables";
@import "./typography";
@import "./image";

body {
    background: $gun-metal;
    font-family: $font-family-primary;
}

.wrapper {
    background-color: $rich-black;
    // background: url(/assets/images/emile-perron-xrVDYZRGdw4-unsplash.jpg) center center / cover no-repeat;
    padding: 3rem;
    width: 80%;
    margin: 0 auto;

    .nav-home {
        position: relative;
        top: -190px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 80px;

        .logo {
            list-style-type: none;
            margin-left: 0;
        }

        & a {                
            color: $white-wash;
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 5px;
            transition: color 0.3s ease;
        }

        .nav-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .menu-item {
                list-style-type: none;
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: $white-wash;
                    text-decoration: none;
                    text-transform: uppercase;
                    position: relative;
                    padding-bottom: 5px;
                    transition: color 0.3s ease;
                }
            }
        }
    }

    .my-image {
        max-width: $image-max-width;
    }

    .background-tint {
        background-color: rgba(163, 105, 39, 0.904);
        background-blend-mode: multiply;
    }
}

